a{
    color: inherit;
}

.new-discussion a{
    padding: 10px 35px !important;
    border-radius: 30px;
    font-weight: 800;
    font-size: 12px;
}
.nav ul {
    list-style-type: none;
    text-align: center;
}

.nav ul li {
    text-decoration: none;
    background: #fff;
    border-radius: 30px;
    margin: 5px 0px;
}
.nav ul a li{
    
    padding: 10px 45px!important;
}
.nav-link {
    text-decoration: none;
    font-weight: bold;
    padding: 0px !important;
    
}
.nav-item{
    padding: 0px !important;
}
.channel-badge a{
    color: inherit;
}

.channel-badge  {
    border: 2px solid #F56857;
    border-radius: 30px;
    padding: 4px 23px;
    font-weight: 600;
    text-transform: lowercase;
    color: #F56857;
    background: #EFF2F5;
}
.channel-badge:hover{
    background: #F56857;
    color: #FFF;
    cursor: pointer;
}
.bg-svg {
    margin-top: 3px;
    padding: 7px 10px;
    background: #EFF2F5;
    border-radius: 5px;
}
.submit{
    border: 2px solid #F56857;
    border-radius: 30px;
    padding: 4px 23px;
    font-weight: 600;
    color: #FFF;
    background: #F56857;
}
/* .submit:hover {
    background: #F56857;
    color: #FFF;
    cursor: pointer;
} */

a.btn.btn-primary.me-3.text-uppercase {
    border-radius: 30px;
    padding: 10px 35px !important;
}

.float-right{
    margin-left: 400px !important;
}

.right-answer{
    color:green !important;
    font-weight:bolder !important;
}
